<!DOCTYPE html>
<html>
<head>
	<title>Carpet</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href="https://fonts.googleapis.com/css?family=Cuprum" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="w3.css">
	
</head>
<body><div class="container">
	<br>
	<br>
	<div  style="border:2px dotted skyblue; border-top:none; ">
	<h2 class="w3-teal w3-container" width="50px"><b>Carpet of Rajasthan</b></h2>
	<img src="http://www.wishplantravel.com/wp-content/uploads/2017/11/Rajasthan-Famous-Things-to-Buy-Carpets.jpg" style="margin-left:40px; ">
	<br>
	<br>
	<p class="w3-container">By tradition Carpets of Rajasthan are famous for fine-quality hand-knotted woolen Fibers. Carpets first began to be produced in Rajasthan when weavers from Afghanistan were popularized in the royal workshops in the 17th century. Ever since, they have grown here, with their cheerful colors and geometric patterns finding their way into showrooms around the world. Naturally they are available in the bazaars at a price far lower as compared to their price in the stores overseas.

		Hand tied carpets have floral or angular patterns.These carpets are well-known for their high quality of craftsmanship and are colour-fast. Each is a luck that lasts a lifetime.From Bikaner and Torik come also the gaily (in bright colours) patterned felt 'numdahs' or smallcarpets.Carpet weaving is not native to India but brought in by the Mughals. With the ending of the late 16th century, Indian carpet weavers were producing better examples as compared with the supreme products of Persia. The rulers of Amber-Jaipur took a great concern in carpets and built up a huge collection of 16th and 17th century Persian and Mughal carpets. The carpet industry in Jaipur started only in the mid 19th century when carpet making was introduced as a jail craft. Ajmer and Bikaner were also selected as carpet weaving centers.</p>
		<p class="w3-container">In Rajasthan first the manufacture of carpets started in the 17th century when weavers from Afghanistan started to settle in the royal ateliers. Ever since they have grown here, with their cheerful colours and geometric patterns finding their way into showrooms across the globe. Normally they are available in the bazaars at a price which is much lower as compared to their price in the overseas stores.

			Rajasthan is a shopper’s heaven in regards to carpet stores. The brilliant use of colors and the sound patterns weaving make them fashionable among the tourists. Even if one is not buying them he or she can check out the product for its absolute beauty. Therefore no one can disregard the reality that Rajasthan is full of skillful artisans. Carpets and durries The carpets have a soft feel and the brilliant use of colors can change the center of any house. They are available in different sizes to suit the purpose of the buyers. The most excellent part about the carpets is that they are available in lower prices at Rajasthan as compared to other parts of the country and are available in both cotton and silk fabric. That's the main reason why these carpets and durries (rugs) of Rajasthan are so prominent.</p>
</div>
</div>
</body>
</html>