<!DOCTYPE html>
<html>
<head>
	<title>Fabric Work</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href="https://fonts.googleapis.com/css?family=Cuprum" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="w3.css">
	
</head>
<body><div class="container">
	<br>
	<br>
	<div  style="border:2px dotted skyblue; border-top:none; ">
	<h2 class="w3-teal w3-container" width="50px"><b>Fabric Work of Rajasthan</b></h2>
	<img src="http://www.rajasthanvisit.com/Images/Fabrics5.jpg" style="margin-left:40px; ">
	<br>
	<br>
	<p class="w3-container">Textile is one of the most particular and specific expressions of that nations culture and heritage. In villages of Rajasthan, textile traditions, learned via a costume tradition and spanning countless generations.


</p>
		<p class="w3-container">The glory of Rajasthan, apart from the bravery of its Rajput rulers, forts, and royalty, is also associated with the production of color fabrics in the Maru-Gurjar tradition since ancient times. Their sense of color-aesthetics has led to the use of colors and motifs intended for different occasions.
 </p>
		<p class="w3-container">There are regional variations too, in western Rajasthan, Garasia women wear Garasion ki phag, a veil with a yellow ground and red border, and a large round in the centre. Mina women wear dhaniya chunari while Gujar women prefer rati chunri, and a Malan wears a ghaghara or skirt of asmani, dhani and chakari farad or yardage.</p>
</div>
</div>
</body>
</html>