<!DOCTYPE html>
<html>
<head>
	<title>Jwellery</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href="https://fonts.googleapis.com/css?family=Cuprum" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="w3.css">
	
</head>
<body><div class="container">
	<br>
	<br>
	<div  style="border:2px dotted skyblue; border-top:none; ">
	<h2 class="w3-teal w3-container" width="50px"><b>Jewellery of Rajasthan</b></h2>
	<img src="http://www.craftandartisans.com/sites/default/files/imagecache/inside-view/Silver-jewelry-of-Rajasthan.jpg" style="margin-left:40px; ">
	<p class="w3-container">Rajasthan is famous especially for silver ornaments. Each part of Rajasthan is known for its own distinct style of silver jewellery. The craftsmen of Jaipur, known for their high quality enamel work, use enamel colours such as red, blue, white, black, green, yellow and golden which are derived from minerals. Creatively crafted pieces of jewellery use combinations of enamelling and kundan work which are unique to Rajasthan. Kundan is the art of setting stones in jewellery. The cavity in which the stones are to be embedded are filled with gold of high purity. Uncut stones are then usually set skillfully in kundan style and are noted for its purity of colour and the evenness with which it is applied. The motifs, usually figures of birds, animals, landscapes, flowers and esoteric symbols are cut skillfully. Pratapgarh in Rajasthan has a type of quasi-enamelling called tewa, which is extremely fine gold work done on a base of green enamel. Enamelling is also done in Nathdwara where enamelled beads in colourful hues are used to make beautiful necklaces in silver or gilded metal.</p>

	<p class="w3-container"> Jaipur is an important centre for stone-cutting or lapidary work where emeralds, rubies, sapphires and myriad other kinds of precious stones are cut and polished with great skill. Goldsmiths have made gold jewellery since ages in this region. Rajasthan is also famous for products of German silver lacquered and inlaid on wood, and, to a small extent, in leather.</p></div>
</div>
</body>
</html>