<html><head><link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	</head><body><div class="container"><div class="w3-panel w3-pale-red w3-leftbar w3-border-red">
				  <h2><%=mes%></h2>
			</div></div></body>
			</html>