<!DOCTYPE html>
<html>
<head>
	<title>Painting</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href="https://fonts.googleapis.com/css?family=Cuprum" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="w3.css">
	
</head>
<body><div class="container">
	<br>
	<br>
	<div  style="border:2px dotted skyblue; border-top:none; ">
	<h2 class="w3-teal w3-container" width="50px"><b>Painting of Rajasthan</b></h2>
	<img src="http://webneel.com/daily/sites/default/files/images/daily/03-2014/2-rajasthani-paintings.preview.jpg" style="margin-left:40px; ">
	<p class="w3-container">The paintings at the caves of La Grotte Chauvet in France is claimed by historians to be the oldest and believed to be some 32000 year old.Cave paintings have been found all over the world, in France, Spain, Australia, Africa, India and China. All the paintings, be it the cave paintings, paintings by Leonardo da Vinci or Van Gogh or Jamini Roy or scribble by a kid reflects a desire to express and create. Painting is basically application of paints to some surface. It is the art or process of applying paints for a utilitarian or artistic effect. The surface may be paper, board, cloth, canvas, wood, glass, natural leaves, crockery or even human body. It is implementation of ideas through drawing and composition. Some of the painting types may be abstract, birds and animals, creative, landscape, portrait, religious, pencil and realistic. Paintings can be done using oil, acrylic, water-colour or mixed media.</p>
</div>
</div>
</body>
</html>