<!DOCTYPE html>
<html>
<head>
	<title>Pottery</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href="https://fonts.googleapis.com/css?family=Cuprum" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="w3.css">
	
</head>
<body><div class="container">
	<br>
	<br>
	<div  style="border:2px dotted skyblue; border-top:none; ">
	<h2 class="w3-teal w3-container" width="50px"><b>Pottery of Rajasthan</b></h2>
	<img src="https://i2.wp.com/indiathedestiny.com/wp-content/uploads/2016/03/blue-pottery-design-in-jaipur-rajasthan.jpg?resize=638%2C400" style="margin-left:40px; ">
	<br>
	<br>
	<p class="w3-container">Rajasthani Pottery is another famous art work, which is manufactured in Rajasthan and attracts most of the viewers. Pottery items of Rajasthan can be used for both decorative purpose as well as in daily use (like gharas and surahis). Each type of such item is made all over the state and can be availed in certain areas. Jaipur is a city known for its majestic blue-glazed pottery that was introduced in India by some early Muslim rulers. </p>
		<p class="w3-container">The blue Pottery was used to liven up the visual appeal of mosques, tombs and palaces in the state during early times. This perfect style of pottery is in extensive use in the form of tiles that enhances the beauty of buildings and ancient forts. Such ultimate tiles of blue pottery can be seen in the old city of Jaipur. The village of Molela, is another hotspot, which is 40km away in north of Udaipur. The village surpasses in terracotta pottery, sculpted plaques and idol of Rajput heroes and Hindu deities. </p>
		<p class="w3-container">One can find a wide array of terracotta articles that are prepared in Rajasthan including paper-thin pottery, white and red clay articles, painted pottery and terracotta wall plaques. Not only this, Jaipur, Jaisalmer, Alwar and Bikaner like cities are the main centers in Rajasthan for Pottery products or likewise artifacts. Apart from this, black pottery is better sourced in South India and making its mark up north in the district of Dausa, west of Jaipur. This one is known for its minimalist and sleek forms that are cherished for long and can be used for either mundane tasks or just for the decorative purpose. </p>
</div>
</div>
</body>
</html>