<!DOCTYPE html>
<html>
<head>
	<title>Puppets</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href="https://fonts.googleapis.com/css?family=Cuprum" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="w3.css">
	
</head>
<body><div class="container">
	<br>
	<br>
	<div  style="border:2px dotted skyblue; border-top:none; ">
	<h2 class="w3-teal w3-container" width="50px"><b>Puppets of Rajasthan</b></h2>
	<img src="https://images.fineartamerica.com/images-medium-large/indian-puppet-show-ankit-sharma.jpg" style="margin-left:40px; ">
	<br>
	<br>
	<p class="w3-container">Kathputli is a join of two rajasthani language words Kath meaning wood and Putli meaning a doll which has no life . Kathputli means a puppet which is made entirely from wood. However it is made out of wood, cotton cloth and metal wire.</p>
		<p class="w3-container">Some scholars believe Kathputli art tradition is more than thousands years old.[2] One finds its reference in Rajasthani folk tales, ballads and sometimes even in folk songs.Similar puppets which are rod-puppets, are also found in west Bengal. But it is truly rajasthan's amazing kathputli which made India one of the first countries to invent its traditional puppetry .Tribes of Rajasthan have been performing this art from the ancient times and it has become an eternal part of Rajasthani culture and tradition. No village fair, no religious festival and no social gathering in Rajasthan can be complete without the Kathputlis. It is believed that somewhere 1500 years ago, tribal Rajasthani Bhat community started the use of Kathputli as string marionette art and it is in their love for tradition that art of Kathputli survived the test of time. Tradition of Kathputli is based on folk tales and stories. Scholars believe that folk tales convey the lifestyle of ancient Rajasthani tribal people and Kathputli art might have originated from present day Nagaur and surrounding areas.[3] Rajasthani Kings and nobles were patrons of Art and Craft and they encouraged the craftsmen in activities ranging from wood and marble carving to weaving, pottery and painting. Over the last 500 years, Kathputli was a system of patronage supported by kings and well-off families. The patrons would look after the artists in return for the artists singing praises of the patrons’ ancestors. Bhat community claim that their ancestors had performed for royal families, and received great honour and prestige from the rulers of Rajasthan</p>
</div>
</div>
</body>
</html>