<!DOCTYPE html>
<html>
<head>
	<title>Feedback</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href="https://fonts.googleapis.com/css?family=Cuprum" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="w3.css">
</head>
<body>

	<div class="w3-container container jumbotron " style="border:1px solid skyblue; width:30%; margin:20px 40px;">
	<h2 class="w3-teal w3-container" width="30%"><b>Feedback</b></h2>
<form action="feedback" method="POST">

Your name: <br>
<input type="text" name="name"><br>
<br>

Your email: <br>
<input type="text" name="email"><br>
<br>

Your comments: <br>
<textarea name="feedback" rows="15" cols="30"></textarea><br><br>

<input type="submit" value="Submit">
 <br><br>
</form>
</div>


</body>
</html>