<!DOCTYPE html>
<html>
<head>
	<title>Rajasthan</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/udaipur.css">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cuprum" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Atomic+Age" rel="stylesheet"> 
 
</head>

<body>
<div class="w3-container" style="background-color:#009c9c" >
		<div class="w3-dropdown-hover" style="margin-left:150px;background-color: #009c9c;">
			<h2 width="100px" style="font-size: 30px">Rajasthan Tourism</h2>
			</div>
    
		 	<div class="w3-dropdown-hover w3-right "  style="margin-right:150px;">
		    <button class="w3-button w3-padding-16">Signup</button>
		    <div class="w3-dropdown-content w3-bar-block w3-card-4">
		      <h4>Name:</h4>
		      <input type="text" name="name" placeholder="Enter your Username" width="100" style="margin:0px 7px 0px 7px;border:none;border-bottom:2px solid black; " required>
		      <h4>Email-Id:</h4>
		      <input type="email" name="Email" placeholder="Enter Your Email" width="100" style="margin:0px 7px 0px 7px;border:none;border-bottom:2px solid black; " required>
		      <h4>Password:</h4>
		      <input type="password" name="password" placeholder="*********" width="100px" style="margin:0px 7px 0px 7px;border:none;border-bottom:2px solid black;" required>
		      <h4>Conform Password:</h4>
		      <input type="password" name="password" placeholder="*********" width="100px" style="margin:0px 7px 0px 7px;border:none;border-bottom:2px solid black;" required>
		      <div class="w3-center" style="margin: 5px 0px 5px 0px">
		      <button class="w3-button w3-ripple w3-teal w3-round ">Signup</button></div>
		    </div>
		  </div>

	<div class="w3-dropdown-hover w3-right" >
		    <button class="w3-button w3-padding-16">LogIn</button>
		    <div class="w3-dropdown-content w3-bar-block w3-card-4">
		      <h4>Email:</h4>
		      <input type="email" name="Email" placeholder="Enter Your Email" width="100px" style="margin:0px 7px 0px 7px;border:none;border-bottom:2px solid black; " required>
		      <h4>Password:</h4>
		      <input type="password" name="password" placeholder="*********" width="100px" style="margin:0px 7px 0px 7px;border:none;border-bottom:2px solid black;" required>
		      <div class="w3-center" style="margin: 5px 0px 5px 0px">
		      <button class="w3-button w3-ripple w3-teal w3-round ">LogIn</button></div>  
		    </div></div></div>
		    <br>
<div class="container">
			<h1 style="text-align: center;font-size: 50px;">Welcome To Udaipur</h1>  
      <div class="w3-display-container">
      <img src="https://www.udaipurblog.com/wp-content/uploads/2017/02/iloveudr.jpg" width="100%">
      <div class="w3-display-topleft w3-container">
          <h1 class="quote">Once a year, go someplace</h1><h1  class="quote">you've</h1>
           <h1  class="quote">   never been
              before.</h1>
      </div>
    </div><br>
    <div class="w3-card-4">
      <div class="w3-container w3-center">
            <p>Udaipur is located in the southern part of Rajasthan state, just near to the Gujarat border. It is surrounded by Aravali Range, which separates it from Thar Desert. It is around 660 km from Delhi and appox 800 km from Mumbai, placed almost in the middle of two major Indian metro cities. Besides, connectivity with Gujarat ports provide Udaipur a strategic geographical advantage.[6] Besides, Udaipur is well connected with nearby cities and states by means of road, rail and air transportation facilities, including Maharana Pratap Airport. Udaipur is spread across an area of 37 km2, and stands as sixth largest city in Rajasthan by population, supporting a population of 451,735 (Metropolis) according to 2011 Census. Popular languages spoken include Hindi, English and Rajasthani (Mewari).</p>
          </div>
    </div> <br>
             
          
         
	<div class="media ">
	    <div class="media-left media-middle  ">
	      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/City_Palace_by_lake_Pichola%2C_Udaipur.jpg/300px-City_Palace_by_lake_Pichola%2C_Udaipur.jpg" class="media-object w3-round w3-hover-sepia" style="width:180px">
	    </div>
    	<div class="media-body w3-blue-grey w3-round ">
      <h2 class="media-heading">City Palace</h2>
      <p>Standing on the east bank of Lake Pichola is a massive series of palaces built at different times from 1559. Its main entrance is through the triple-arched gate - the Tripolia, built in 1725. This gate leads to a series of courtyards, overlapping parations, terraces, corridors and gardens. The palace now houses a museum with many antique articles, paintings, decorative furniture and utensils from the royal era.</p>
       	</div>
  		</div>
  		<hr>
  		<div class="media-left media-middle">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/LakePalaceEarlyMorning.jpg/300px-LakePalaceEarlyMorning.jpg" class="media-object w3-round w3-hover-sepia" style="width:180px">
    	</div>
  		<div class="media-body w3-border  w3-round w3-hover-opacity w3-hover-red">
      <h2 class="media-heading">Lake Palace</h2>
      <p>Situated over an island in Lake Pichola, the Lake Palace was constructed to serve as a royal summer palace. Built of white marble, the palace is now a luxury 5 Star hotel, operating under the "Taj Hotels Resorts and Palaces" banner.</p>
       	</div>
  		
  		<hr>
  		<div class="media-left media-middle">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/JagMandir.jpg/300px-JagMandir.jpg" class="media-object w3-round w3-hover-sepia" style="width:180px">
    	</div>
  		<div class="media-body w3-blue-grey w3-round">
      <h2 class="media-heading">Jag Mandir</h2>
      <p>Jag Mandir is a palace built on an island in the Lake Pichola. Also known as the "Lake Garden Palace", it was constructed by three Maharanas of the Mewar kingdom. The construction started in 1551, and was completed by 1652. The royal family used the palace as a summer resort and pleasure palace.</p>
       	</div>
  		<hr>
  		<div class="media-left media-middle">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Rishabhdeo_Jain_temple_%289710280717%29.jpg/300px-Rishabhdeo_Jain_temple_%289710280717%29.jpg" class="media-object w3-round w3-hover-sepia" style="width:180px">
    	</div>
  		<div class="media-body w3-round w3-hover-opacity w3-hover-red">
      <h2 class="media-heading">Kesariyaji Temple</h2>
      <p>The temple is dedicated to Lord Rishabh dev, the first Jain Tirthankara. The temple is very artistic. Its pinnacles, arches, doors, walls are very artistic, beautiful and fascinating. The fifty two pinnacles of the temple are seen from a long distance. The main idol in the temple is of Tirthankara Rishabha, carved in black stone in padmasana posture, about 3.5 feet (1.1 m) tall.</p>
       	</div>
  		<hr>
  		<div class="media-left media-middle">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9c/Sajjangarh1.jpg/300px-Sajjangarh1.jpg " class="media-object w3-round w3-hover-sepia" style="width:180px">
    	</div>
  		<div class="media-body w3-blue-grey w3-round">
      <h2 class="media-heading">Monsoon Palace</h2>
      <p>Monsoon Palace, also known as Sajjan Garh Palace, was built as an astronomical centre to keep track of the movement of monsoon clouds in the area and also served as the summer resort of the Maharanas. Built with white marble, it is located on Bansdara peak of the Aravalli hill range at an elevation of 944 m (3100 ft) above mean sea level. The palace offers a panoramic view of the city's lakes, palaces and surrounding countryside.</p>
       	</div>
  		<hr>
  		<div class="media-left media-middle">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Jagdish_Temple_Udaipur.jpg/300px-Jagdish_Temple_Udaipur.jpg" class="media-object w3-round w3-hover-sepia" style="width:180px">
    	</div>
  		<div class="media-body w3-round w3-hover-opacity w3-hover-red">
      <h2 class="media-heading">Jagdish Temple</h2>
      <p>The Jagdish Temple is a large Hindu temple in the middle of Udaipur, built by Maharana Jagat Singh I. A key tourist place in the city, this temple is an example of Māru-Gurjara Architecture.</p>
       	</div>
  		<hr>
  		<div class="media-left media-middle">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Lake_Fatehsagar.jpg/300px-Lake_Fatehsagar.jpg" class="media-object w3-round w3-hover-sepia" style="width:180px">
    	</div>
  		<div class="media-body w3-blue-grey w3-round">
      <h2 class="media-heading">Fateh Sagar Lake</h2>
      <p>Lake Fatehsagar is an artificial lake situated in the north-west part of Udaipur. The lake was originally built by Maharana Jai Singh and later reconstructed and extended by Maharana Fateh Singh. It is one of the most popular destinations in the city for tourists and the city residents.</p>
       	</div>
  		<hr>
  		<div class="media-left media-middle">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Sukhadia_circle%2C_Udaipur%2C_Rajasthan.jpg/300px-Sukhadia_circle%2C_Udaipur%2C_Rajasthan.jpg" class="media-object w3-round w3-hover-sepia" style="width:180px">
    	</div>
  		<div class="media-body w3-round w3-hover-opacity w3-hover-red">
      <h2 class="media-heading">Sukhadia Circle</h2>
      <p>Sukhadia Circle (square) is large roundabout in the city's northern suburb and is a popular recreational centre. The square has in its centre, a small pond admist which lies a 21 ft high three-tiered fountain. The fountain, made of marble is surmounted by a wheat-ear motif, a symbol of prosperity.</p>
       	</div>
  		<hr>
  		<div class="media-left media-middle ">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/Udaipur-Sahelion_Ki_Bari-03-Garden_of_the_rain_without_clouds-20131013.jpg/300px-Udaipur-Sahelion_Ki_Bari-03-Garden_of_the_rain_without_clouds-20131013.jpg" class="media-object w3-round w3-hover-sepia" style="width:180px">
    	</div>
  		<div class="media-body w3-blue-grey w3-round">
      <h2 class="media-heading">Saheliyon-ki-Bari</h2>
      <p>Sahelion ki Bari is a major garden and a popular tourist space in the northern part of the city. The garden with its fountains and kiosks, a lotus pool and marble elephants, was laid for a group of forty-eight young women attendants who accompanied a princess to Udaipur as part of her dowry.</p>
       	</div>
  		<hr>
  		<div class="media-left media-middle">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pichola_See.JPG/300px-Pichola_See.JPG" class="media-object w3-round w3-hover-sepia" style="width:180px">
    	</div>
  		<div class="media-body w3-round w3-hover-opacity w3-hover-red">
      <h2 class="media-heading">Lake Pichola</h2>
      <p>Lake Pichola is an artificial fresh water lake and is one of the several contiguous lakes in the city of Udaipur. The lake's surroundings and the several islands within the lake have been developed over the centuries, with palaces, marble temples, family mansions, bathing ghats (Gangaur Ghat, Ambrai Ghat, Hanuman Ghat) and chabutaras (a raised platform, normally within a courtyard)</p>
       	</div>
  		<hr>
  		<div class="media-left media-middle">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Statue_of_Maharana_Pratap_of_Mewar%2C_commemorating_the_Battle_of_Haldighati%2C_City_Palace%2C_Udaipur.jpg/300px-Statue_of_Maharana_Pratap_of_Mewar%2C_commemorating_the_Battle_of_Haldighati%2C_City_Palace%2C_Udaipur.jpg" class="media-object w3-round w3-hover-sepia" style="width:180px">
    	</div>
  		<div class="media-body w3-blue-grey w3-round">
      <h2 class="media-heading">Moti Magri</h2>
      <p>Moti Magri or Pearl Hill, is a memorial of the Rajput hero Maharana Pratap. It is basically a small hilloc, atop of which there is a bronze statue of the Maharana astride his favourite horse "Chetak". It was initiated by Maharana Bhagwat Singh Mewar, and carried over and completed with the help of a public trust.</p>
       	</div>
  		<hr>
  			<div class="media-left media-middle">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Pgk_udaipur.jpg/300px-Pgk_udaipur.jpg" class="media-object w3-round w3-hover-sepia" style="width:180px">
    	</div>
  		<div class="media-body w3-round w3-hover-opacity w3-hover-red">
      <h2 class="media-heading">Pratap Gaurav Kendra</h2>
      <p>Pratap Gaurav Kendra Rashtriya Tirtha is situated at Tiger Hill. It was started by the Veer Shromani Maharana Pratap Samiti, and aims at providing information about Maharana Pratap and the historical heritage of the area with the help of modern technology.</p>
       	</div>
  		<hr>
  			<div class="media-left media-middle">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/I_Love_Udaipur.jpg/300px-I_Love_Udaipur.jpg" class="media-object" style="width:180px">
    	</div>
  		<div class="media-body w3-blue-grey w3-round">
      <h2 class="media-heading w3-round w3-hover-sepia">Pratap Park</h2>
      <p>Pratap Park is a new garden situated near the bank of Pichola Lake. It has an open Gymnasium, besides several other attractions. It has gained attraction due to the human sized alphabets reading "I LOVE UDAIPUR", with picturesque view of lake pichola and City Palace in the background.</p>
       	</div>
  		<hr>




	
	<br>
	<br>
	<br>
	<br>
</div>
</body>
</html>>	